  .nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style-type: none;
    padding: 2%;
  }
  .logo, .home, .about{
    color: aliceblue;
    font-size: 30px;
  }
  .value{
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  body{
    text-align: center;
    background-color: rgb(150, 147, 147);
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    background-color: azure;
    height: fit-content;
    width: fit-content;
    margin: 10px;
    margin-left: 37%;
    padding: 30px;
    border-radius: 12px;
  }
  input{
    line-height: 30px;
    background-color: antiquewhite;
    width: 300px;
    border-radius: 10px;
  }
  button{
    margin: 20px;
    border-radius: 10px;
    line-height: 35px;
    width: 100px;
    background-color: rgb(19, 155, 114);
  }